<div class="row my-3">
  <div class="col-sm-8">
      <textarea
        class="form-control"
        name="message"
        id=""
        cols="30"
        rows="5"></textarea>
  </div>
  <div class="col-sm-4">
    <button type="submit" class="btn btn-block btn-primary">Send</button>
  </div>
</div>
