{% block send_message %}
  <form action="/chat" method="posr">
    <div class="row">
      <div class="col-sm-8">
      <textarea
        id="new-message"
        class="form-control"
        name="message"
        cols="30"
        rows="3"></textarea>
      </div>
      <div class="col-sm-4">
        <button id="submit" type="submit" class="btn btn-primary w-100">Send
        </button>
      </div>
    </div>
  </form>
{% endblock %}
