<div class="row">
  <div class="col-md-12">
    <div class=" rounded-3 bx-shadow-in p-3">
      <h3>Messages</h3>
      <div id="messages-body">
        <div id="messages-box">
          {% for message in messages %}
            <div class="row">
              {% if message.user_from == user %}
                <div class="col-md-2"></div>
                <div class="col-md-10">
                  <div class="message from-me">
                    {{ message.message|e }}
                  </div>
                </div>
              {% else %}
                <div class="col-md-10">
                  <div class="message">
                    {{ message.message|e }}
                  </div>
                </div>
                <div class="col-md-2"></div>
              {% endif %}
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
