<div class="">
  <h3>My friend</h3>
  <div class="">
    {% for friend in friends %}
      <a
        href="/chat?user={{ user }}&from={{ friend.id }}"
        class="p-1 px-3 my-1 person"
        data-user="{{ friend.id }}"
      >
        {{ friend.name }}
      </a>
    {% endfor %}
  </div>
</div>

