{% extends 'layout/default.twig' %}

{% block title %}Chat{% endblock %}
{% block content %}
  <div class="container my-5">
    <div class="row">
      <div class="col-md-8 mx-auto">
        <h1 class="text-center">My chat</h1>
        <div class="row">
          <div class="col-md-4 g-5 rounded-3 my-friends-body">
            {% include 'parts/chat/my_friends.twig' %}
          </div>
          <div class="col-md-8 g-5">
            <div class="message-body col-auto rounded-3">
              {% include 'parts/chat/messages.twig' %}
            </div>
            <div class="form-body col-auto">
              {% include 'parts/chat/form_send_message.twig' %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
