{% extends 'layout/default.twig' %}

{% block title %}Home{% endblock %}
{% block content %}
  <div class="container my-5">
    <div class="row">
      <div class="col-md-8 mx-auto text-center">
        <h1 class="">Home page</h1>
        <a href="/chat" class="btn btn-secondary">
          Go to chat
        </a>
        <a href="/registration" class="btn btn-primary ms-1">
          Registration
        </a>
      </div>
    </div>
  </div>
{% endblock %}
