{% extends 'layout/default.twig' %}

{% block title %}Registration{% endblock %}
{% block content %}
  <div class="container my-5">
    <div class="row">
      <div class="col-md-8 mx-auto body-for-ref">
        <h1 class="text-center">Registration</h1>
        <div class="row mb-4 ref-user-info-body"></div>
        <div class="row mb-4">
          <div class="col text-center">
            <span id="login-mess" class="visibility"></span>
          </div>
        </div>
        {% block registration %}
          {% include 'parts/registration/form_registration.twig' %}
        {% endblock %}
      </div>
    </div>
  </div>
{% endblock %}
